<div id="post_wrapper">
  <div id="container">
      <div class="contents">
        <div class="recipe_list" id="index">
          <% @posts.each do |post| %>
            <div class="list_box">
                <%= image_tag('sample.jpg') %>
                <p><%= post.title %></p>
            </div>
          <% end %>    
        </div>
      </div>
  </div>    
</div>