<div id="post_wrapper">
  <div id="container">
      <div class="contents">
        <div class="recipe_list" id="index">
          <% @posts.each do |post| %>
            <div class="list_box">
                <%= link_to image_tag('sample.jpg'),"/posts/#{post.id}" %>
                <p><%= link_to(post.title,"/posts/#{post.id}") %></p>
            </div>
          <% end %>    
        </div>
      </div>
  </div>    
</div>