<div id="post_wrapper">
  <div id="container">
    <div class="contents">
      <div class="show_box" id="show_title">
        <h2>
          recipe title
        </h2>
        <%= image_tag('sample.jpg') %>
        <h3>材料</h3>
        <div class="ingredients_list">
          aaaa
        </div>
        <div class="recipe_point">
        <h3>作り方＆コツ</h3>
        <div class="recipe_step">
           aaaa
        </div>
      </div>
      
        <div class="edit_destroy">
          <ul>
            <li>編集</li>
            <li>削除</li>
          </ul>
        </div>
          
          
      </div>
      <div class="modoru">
        <div class="back_btn">
          戻る
        </div>
      </div>
    </div>
  </div>
</div>  
